@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h3 class="m-0">Recent Blogposts</h3>
            <a class="btn btn-success" asp-page="/NewBlogpost"><i class="fa-solid fa-plus fa-fw"></i></a>
        </div>
        <div class="row">
            @if (Model.RecentBlogposts != null)
            {
                @foreach (var blogpost in Model.RecentBlogposts)
                {
                    <div class="col-md-3 mb-3">
                        <a class="text-decoration-none" asp-page="Blogpost" asp-route-id="@blogpost.Id">
                            <div class="card overflow-hidden">
                                <div class="card-body overflow-hidden" style="max-height:150px">
                                    <h5 class="card-title text-nowrap text-truncate">@blogpost.Title</h5>
                                    <p class="card-text">@blogpost.Content</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h3 class="m-0">Recent Portfolioposts</h3>
            <a class="btn btn-success"><i class="fa-solid fa-plus fa-fw"></i></a>
        </div>
        <div class="row">
            @if (Model.RecentBlogposts != null)
            {
                @foreach (var blogpost in Model.RecentBlogposts)
                {
                    <div class="col-md-3 mb-3">
                        <a class="text-decoration-none" asp-page="Blogpost" asp-route-id="@blogpost.Id">
                            <div class="card overflow-hidden">
                                <div class="card-body overflow-hidden" style="max-height:150px">
                                    <h5 class="card-title text-nowrap text-truncate">@blogpost.Title</h5>
                                    <p class="card-text">@blogpost.Content</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>