@page "{id:Guid}"
@model DevBlog.Web.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@if (Model.Account != null)
{

    <h1 class="text-center">@(Model.Account.FullName)'s Profile</h1>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <h3 class="m-0">Blogposts</h3>
                        @if (Model.IsAccountOwner)
                        {
                            <a class="btn btn-success" asp-page="/NewBlogpost"><i class="fa-solid fa-plus fa-fw"></i></a>
                        }
                    </div>
                    <div class="row">
                        @if (Model.Account.BlogPosts != null)
                        {
                            @foreach (var blogpost in Model.Account.BlogPosts)
                            {
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none" asp-page="Blogpost" asp-route-id="@blogpost.Id">
                                        <div class="card overflow-hidden">
                                            <div class="card-body overflow-hidden" style="max-height:150px">
                                                <h5 class="card-title text-nowrap text-truncate">@blogpost.Title</h5>
                                                <p class="card-text">@blogpost.Content</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <h3 class="m-0">Portfolioposts</h3>
                        @if (Model.IsAccountOwner)
                        {
                            <button class="btn btn-success"><i class="fa-solid fa-plus fa-fw"></i></button>
                        }
                    </div>
                    <div class="row">
                        @if (Model.Account.PortfolioPosts != null)
                        {
                            @foreach (var blogpost in Model.Account.PortfolioPosts)
                            {
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@blogpost.Title</h5>
                                            <p class="card-text">@blogpost.Content</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}